/* =================================================================== */
/*
/* 1 - Section Covid
/* 2 - Media Queries
/*
/* =================================================================== */


/* 
/* . Section Covid
/* =================================================================== */

#covid{
	padding-top: 10rem;
}

.father-covid{
	margin-top: 2rem;
	padding: 4rem 1.5rem;
}
.child-covid-1{
	width: 60%;
	margin-right: 2rem;
}

.child-covid-2{
	width: 40%;
}

.child-covid-2 img{
	width: 100%;
}

.child-covid-1{
	font-size: 1.5rem;

}


/* 
/* . Media Queries
/* =================================================================== */


@media (max-width: 1200px){

  .child-covid-1{
	font-size: 1.2rem;

   }

}

@media (max-width: 992px){

   

   .father-covid{
      flex-direction: column;
   }

   .child-covid-1{
	   width: 100%;
	   margin-bottom: 2rem;
    }

    .child-covid-2{
        width: 90%;
        margin: auto;
    }

}

@media (max-width: 768px){
       
     #covid{
	  top: 0rem;
   }
}	