/* =================================================================== */
/*
/* 1 - Header e Logo
/* 2 - Menu
/* 3 - Feeds 
/* 4 - Media Queries 
/*
/* =================================================================== */


/* 
/* . Header e Logo
/* =================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

header{
	  background-color: #34495e;
    position: fixed;
    padding: .5rem 1rem;
    z-index: 98;
}


header h1{
    position: relative;
    top: .3rem;
    letter-spacing: .5rem;
    font-size: 3rem !important;
    font-family: 'Lobster', cursive;
    color: #f7d08c;
    font-weight: 500 !important;
    z-index: 100;
}


/* 
/* . Menu
/* =================================================================== */



.navbar ul{
    gap: 3rem   
}

.nav-item a{
    letter-spacing: .2rem;
    color: #f7d08c !important;
    font-size: 1.2em;
}

.nav-item a:hover{
    color: rgba(247, 208, 140, .7) !important;
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.navbar-nav{
  font-family: 'Balsamiq Sans', cursive;
}


/* 
/* . Menu Responsivo
/* =================================================================== */


header .hide-menu-btn,
header .show-menu-btn{
   position: absolute;
   top: -1.1rem;
   transition: 1s;
   font-size: 3em;
   cursor: pointer;
   display: none;
}

header .hide-menu-btn:hover,
header .show-menu-btn:hover{
   
   transition: 1s;    
}

header #chk{
  display: none;
}


/* 
/* . Media Queries
/* =================================================================== */



@media (max-width: 992px){



      header nav{
        position: fixed !important;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        background-color: #34495e;
        z-index: 99;
        transition: 2s;
        border: solid 2px red;
      }

      header li{
        width: 100vw;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        margin: 0rem 0;
      }

      header .show-menu-btn,
      header .hide-menu-btn{
        display: block !important;
        position: absolute;
        right: 2rem;
        top: 1rem;
      }
 
      header .show-menu-btn{
        top: 1.2rem;
      }

      header .show-menu-btn i{
         font-size: 1em;
      }
      
     

      header .hide-menu-btn i{
        font-size: 4rem;
      }

      header .show-menu-btn i,
      header .hide-menu-btn i{
        color: rgba(247, 208, 140, 1) !important;
        transition: .2s;
      }

      header .show-menu-btn i:hover,
      header .hide-menu-btn i:hover{
        color: rgba(247, 208, 140, .7) !important;
        transition: .2s;
      }

      header #chk:checked ~ nav{
         left: 0;
    }
}    



