/* =================================================================== */
/*
/* 1 - Header e Logo
/* 2 - Menu
/* 3 - Feeds 
/* 4 - Media Queries 
/*
/* =================================================================== */


/* 
/* . Header e Logo
/* =================================================================== */



header{
	background-color: #34495e;
    position: fixed;
    padding: 2rem 3rem 1rem 3rem;
    z-index: 98;
}


header h1{
    position: relative;
    top: .3rem;
    letter-spacing: .5rem;
    font-size: 3.5rem;
    color: #f7d08c;
    font-weight: 700;
    z-index: 100;
    margin-bottom: 1rem;
}


/* 
/* . Menu
/* =================================================================== */



.navbar ul{
  display: flex;
  flex-direction: row;
  gap: 3rem   
}

.nav-item a{
    letter-spacing: .2rem;
    font-size: 1.5em;
    color: rgba(247, 208, 140, .7)
}



.nav-item a:hover{
    color: rgba(247, 208, 140, 1);
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.navbar-nav{
  font-family: 'Balsamiq Sans', cursive;
}


/* 
/* . Menu Responsivo
/* =================================================================== */


header .hide-menu-btn,
header .show-menu-btn{
   position: absolute;
   top: -1.1rem;
   transition: 1s;
   font-size: 3em;
   cursor: pointer;
   display: none;
}

header .hide-menu-btn:hover,
header .show-menu-btn:hover{
   
   transition: 1s;    
}

header #chk{
  display: none;
}

