/* =================================================================== */
/*
/* 1 - Tag Main
/* 2 - Section Slider
/* 3 - Section Excursão
/* 4 - Section Galeria
/* 5 - Section Informações
/* 6 - Section Covid
/* 7 - Tag Rodape
/*
/* =================================================================== */


/* 
/* . Tag Main
/* =================================================================== */


main{
	padding: 6rem 2rem 0rem 2rem;
}


@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

main h2{
	color:  rgba(47, 54, 64,1.0);
	-webkit-font-family: :'Fredoka One', cursive;;
    -moz-font-family: :'Fredoka One', cursive;;
    -ms-font-family: :'Fredoka One', cursive;;
    -o-font-family: :'Fredoka One', cursive;;
    font-family: :'Fredoka One', cursive;;
    font-weight: 900;
    font-size: 2.5rem;
	line-height: 1.5;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


main span{
	letter-spacing: .2rem;
  font-family: 'Source Code Pro', monospace;
}

 
   
   /* 
   /* . Section Slider - Keyframe
   /* =================================================================== */
   
   @keyframes slider{
    0%{
      left: 0%;
    }
  
    30%{
      left: 0%;
    }
  
    35%{
         left: -100%;
    }
  
    65%{
      left: -100%;
    }
      
    70%{
      left: -200%;
    }
  
    95%{
      left: -200%;
    }
  
    100%{
          left: 0%;
    }
  }
  



/* 
/* . Section Slider
/* =================================================================== */
.banner{
    position: relative;
    top: 8.7rem;
   }
   
   .slider{
     width: 300%;
     padding-bottom: 0;
   }
   
   .slider img{
     animation: slider 20s infinite ease-out;
   }
   
   figure{
     width: 33.4%;
   }
  
   
   /* 
   /* . Section Slider - Próximas Viagens
   /* =================================================================== */
   
   .next-travels{
     position: absolute;
     top: 0rem;
     width: 100%;
     height: 71vh;
     padding-top: 2.5rem;
   }
   
   
   
   @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
   
   .row-travels h2{
      -webkit-font-family:: 'Righteous', cursive;;
      -moz-font-family:: 'Righteous', cursive;;
       -ms-font-family:: 'Righteous', cursive;;
        -o-font-family:: 'Righteous', cursive;;
           font-family:: 'Righteous', cursive;;
       font-weight: 900;
       font-size: 3rem;
       color: white;
       line-height: 2;
       text-shadow: 5px 5px 10px black;
   }
   
   
   .col-travels{
     background-color: #34495e;
     padding: 2rem;
     border-radius: 10px;
   }
   
   @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Righteous&display=swap');
   
   .col-travels span{
     color: white;
     line-height: 3;
     -webkit-font-family::Comfortaa', cursive;
       -moz-font-family::Comfortaa', cursive;
       -ms-font-family::Comfortaa', cursive;
        -o-font-family::Comfortaa', cursive;
           font-family::Comfortaa', cursive;
   }
   
   .col-travels div{
     margin: 0 .5rem;
   }
   
   .col-travels div{
     margin: 0 .5rem;
   }
   

   
/* . Section Excursão
/* =================================================================== */

.row-excursao{
	padding: 0rem;
}


.col-excursao img,
.col-excursao-2 img{
	width: 100%;
	background-size: cover;
}

.col-img,
.col-img img{
	border-radius: 5px 5px 0px 0px;
}

.col-img{
	display: flex;
	flex-direction: row;
	width: 100%;

}

.col-excursao,
.col-excursao-2{
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255,0);
    gap: 1rem;
    margin-top: 1rem !important;
    border-radius: 5px 5px 5px 5px;
    transition: 1s;
    box-shadow: 1px 1px 2px gray,
                -1px -1px 2px gray;
}

.col-excursao:hover,
.col-excursao-2:hover{
    box-shadow: 2px 2px 20px #636e72;

}
	


.col-excursao-2{
	width: 35%;
}

.col-excursao i{
	margin: auto 1rem;
	color: rgba(47, 54, 64,1.0) !important;
  font-size: 1.8em;
}



.info{
	background-color: white;
	border-radius: 0px 0px 5px 5px;
  color: rgba(52, 73, 94,1.0);
}




.info span{
	letter-spacing: normal;
}

.info div{
	line-height: 3;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

span.go, 
span.back{
  font-weight: 900;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
}

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');

span.date{
   font-family: 'Gluten', cursive;  
}

.more span{
	padding: .5rem 1.5rem;
	border: solid 2px #34495e;
	border-radius: 5px;
	margin-top: 4rem;
	font-size: 1.5em;
	transition: 1s;
}

.more span:hover{
	background-color: #34495e;
}


.more span > a{
	text-decoration: none;
	color: #34495e !important;
	transition: 1s;
}

.more span > a:hover{
	color: white !important;
}


     
 
/* 
/* . Galeria
/* =================================================================== */


.galeria{
	padding: 2rem;
}

.father-gallery:hover{
	box-shadow: 2px 2px 20px #636e72;
}



.grandson-gallery,
.grandson-gallery-2{
	position: relative;
	width: 23%;
	margin-bottom: 0;
}

.grandson-gallery img,
.grandson-gallery-2 img{
	width: 100%;
  height: 100%;
}

.grandson-gallery-2{
	width: 30.7%;
}


.gallery-hover{
    position: absolute;
	top: 0;
	border: solid 2px white;
	width: 100%;
	height: 100%;
    transition: 1s;
    opacity: 0;
}

.gallery-hover hgroup{
     position: absolute;
     bottom:  0rem;
     color:  white;
     margin: 1rem;
}

.gallery-hover h3{
	margin: 0;
  font-size: 1.8em;
}

.gallery-hover span{
	font-size: 1em;
	letter-spacing: 0;
}



.gallery-hover:hover{
	background-color: #34495e;
	opacity: .8;
}


 
/* 
/* . Section Informações
/* =================================================================== */
 
.father-info{
  padding: .5rem .5rem 0 2rem;
}
.child-info{
 width: 100%;
}

.child-info i{
  margin-right: 1rem;
 }

.grandson-info-1,
.grandson-info-3{
  width: 70%;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
}

.grandson-info-1{
  line-height: 2;
}


.grandson-info-3{
  line-height: 1.6;
  width: 75%;
}

.grandson-info-1 h3,
.grandson-info-3 h3{
  font-size: 1.5em;
  font-family:'Fredoka One', cursive;
  font-weight: 900;
  margin-bottom: .5rem;
}

.grandson-info-2,
.grandson-info-4{
  position: relative;
  width: 20%;
  margin-right: 2rem;
}

.grandson-info-4{
  margin-left: 2rem;
}

.grandson-info-2 img,
.grandson-info-4 img{
  width: 85%;
  border: solid 1px #34495e;
  box-shadow: 1px 1px #34495e,
  2px 2px #34495e,
  3px 3px #34495e,
  4px 4px #34495e,
  5px 5px #34495e,
  6px 6px #34495e;
}

.child-info li{
  text-indent: .5rem;
 }


/* 
/* . Section Covid
/* =================================================================== */

#covid{
	padding-top: 10rem;
}

#covid h2{
   line-height: 2;
}

.father-covid{
	margin-top: 2rem;
	padding: 4rem 1.5rem;
}
.child-covid-1{
	width: 60%;
	margin-right: 2rem;
}

.child-covid-2{
	width: 40%;
}

.child-covid-2 img{
	width: 100%;
}

.child-covid-1{
	font-size: 1.5rem;

}



/* 
/* . Tag Rodape
/* =================================================================== */


.rodape{
	background-color: #34495e;
	padding: 6rem 2rem 6rem 4rem;
}


.col-rodape{
	width: 25%;
	border-right: solid 2px white;
	margin-right: 6rem;
	padding-right: 2rem;
}

.col-rodape:nth-child(4){
	border-right: none;
	margin: 0;
}

.col-rodape h4{
	color: rgba(255, 190, 118,1.0);
	font-size: 2rem;
	line-height: 2;
}

.col-rodape span,
address{
	color: white;
	line-height: 1.2;
	position: relative;
    left: .5rem;
}

.col-rodape address{
	line-height: 1.4;
	color: white;
}

.col-rodape a{
	color: white;
	text-decoration: none;
	opacity: .8;
	transition: .2s;
}

.col-rodape a:hover{
	text-decoration: underline;
	opacity: 1;
}

.new-rodape{
	background-color: #2c3e50;
	color: white;
	padding: .5rem 0;
}

.col-newr a,
.col-newr i{
	text-decoration: none;
	color: white !important;
	margin: auto 1rem;
	transition: 1s;
}

.col-newr i{
	font-size: 1.4rem;
}

.col-newr a:hover,
.col-newr i:hover{
    color:  gray !important;
}



