/* =================================================================== */
/*
/* 1 - Tag Main
/* 2 - Main Text
/*
/* =================================================================== */


/* 
/* . Tag Main
/* =================================================================== */


main{
	padding: 6rem 2rem 0rem 2rem;
}



/* 
/* . Tag Main
/* =================================================================== */



@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

main h2{
	color:  rgba(47, 54, 64,1.0);
	-webkit-font-family: :'Fredoka One', cursive;;
    -moz-font-family: :'Fredoka One', cursive;;
    -ms-font-family: :'Fredoka One', cursive;;
    -o-font-family: :'Fredoka One', cursive;;
    font-family: :'Fredoka One', cursive;;
    font-weight: 900;
    font-size: 2.5rem;
	line-height: 1;
}

main span{
	letter-spacing: .2rem;
}


