/* =================================================================== */
/*
/* 1 - @media (min-width:320px)  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
/* 2 - @media (min-width:480px)  /* smartphones, Android phones, landscape iPhone */ 
/* 3 - @media (min-width:600px)  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
/* 4 - @media (min-width:801px)  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
/* 5 - @media (min-width:1025px) /* big landscape tablets, laptops, and desktops */ 
/* 6 - @media (min-width:1281px) /* hi-res laptops and desktops */ 
/*
/* =================================================================== */



@media (max-width:  1281px){

  

    .row-travels h2{
        font-size: 2.5em;
    }

     input{
        width: 120px !important;
     } 
    
     input#veiculo{
       width: 180px !important;
     }

     select{
       width: 150px !important;
     }

    
    .grandson-info-2,
    .grandson-info-4{
       display: none;
    }

    .father-info{
      display: flex;
    }

    .child-info{
        margin: 0;
    }

    .grandson-info-1 p{
      width: 120%;
    }

    .grandson-info-3 h3, p,li{
      width: 130%;
      line-height: 2;
    }


}


@media (max-width: 1025px){
  .rodape{
        flex-direction: column;
    }
 
    .col-rodape{
     width: 100%;
     border-right: none;
     border-bottom: solid 2px white;
     margin-bottom: 4rem;
     padding-bottom: 2rem;
 
    }
 
    .new-rodape{
        padding: 0rem 1rem;
    }
} 


@media (max-width:  992px){
    
    header{
      padding: 1rem;
    }


    header h1{
      font-size: 2.5em;
    }

    header nav{
    position: fixed !important;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #34495e;
    z-index: 99;
    transition: 2s;
  }

  header ul{
     display: flex;
     flex-direction: column !important;
     margin: auto;
     padding-bottom: 2rem;
  }

  header li{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
  }

  header .show-menu-btn,
  header .hide-menu-btn{
    display: block !important;
    position: absolute;
    right: 2rem;
    top: 1.1rem;
    font-size: 4em;
  }

   header .hide-menu-btn{
     font-size: 5em;
   }


  header .show-menu-btn i,
  header .hide-menu-btn i{
    color: rgba(247, 208, 140, 1);
    transition: .2s;
  }

  header .show-menu-btn i:hover,
  header .hide-menu-btn i:hover{
    color: rgba(247, 208, 140, .7);
    transition: .2s;
  }

  header #chk:checked ~ nav{
     left: 0;
  }

    .veiculo{
       display: none !important;
    }

     .next-travels{
     top: 5.5rem;
     height: 50vh;
   }

    .slide{
      position: relative ;
      top: 5.6rem !important;
      height: 50vh;
     }


     
     .element{
       flex-direction: column;
     }

     .col-excursao, .col-excursao-2 {
      width: 70%;
      margin: auto;
     }

     .element i{
       margin: 1rem auto;
       font-size: 2.5em;
     }

    .child-covid-1{
        width: 100%;
        margin-bottom: 2rem;
    }

    .child-covid-2{
      width: 90%;
      margin: auto;
    }

    


} 




@media (max-width: 768px){

    .gallery-hover h3{
	   font-size: 1em;
	   line-height: 1.5;
     }

    .gallery-hover span{
	   display: none;
    }
}


/* Altura do Monitor Samsung 732nw Plus */ 

@media (min-height: 789px){
    
        section{
          padding-top: 20vh !important;
        }
}

 
@media (max-width: 640px){

  header .show-menu-btn,
  header .hide-menu-btn{
    top: 1.3rem;
    font-size: 3.5em;
  }

   header .hide-menu-btn{
     font-size: 4.5em;
   }
      
    .col-newr a,
    .col-newr i{
      margin: auto .2rem;
      font-size: 1rem;
     }
 
     .col-newr a, span{
         font-size: .8rem;
     }
 
     .new-rodape{
        padding: 1rem;
    }
 
    .col-newr:nth-child(3){
        display: none;
    }
 
 }	

@media (max-width: 576px){
    .col-travels{
       flex-direction: column; 
    }

    .col-travels select , input{
      width: 100% !important;
    }
} 

@media (max-width: 480px){
  
  .info span{
  	font-size: .9rem;
  }

  .more span > a{
     font-size: .9rem;
  }

  .gallery-hover h3{
    display: none;
  }

  .col-newr a:nth-child(3){
    display: none;
}

 .col-newr a,
.col-newr i{
 margin: auto .5rem;
}


}

@media (max-width: 380px){
   .more span > a{
     font-size: .7rem;
  }
}	

 


