/* =================================================================== */
/*
/* 1 - @media (min-width:320px)  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
/* 2 - @media (min-width:480px)  /* smartphones, Android phones, landscape iPhone */ 
/* 3 - @media (min-width:600px)  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
/* 4 - @media (min-width:801px)  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
/* 5 - @media (min-width:1025px) /* big landscape tablets, laptops, and desktops */ 
/* 6 - @media (min-width:1281px) /* hi-res laptops and desktops */ 
/*
/* =================================================================== */





/* 
/* . Note Book
/* =================================================================== */




@media(max-width:  1440px){

 

     .more span{
       margin-top: 2rem;
     }

      .grandson-info-2,
      .grandson-info-4{
          display: none !important; 
      }

      .father-info{
        display: flex;
        padding: .5rem 0 1rem 4rem;
      }

      .child-info bdi{
        display: none;
      }

      .child-info bdo{
        display: inline;
      }

      .child-info  .hide{
        display: none;
      }
}


@media (max-width: 1080px){

  h2{
    font-size: 2.5em !important;
  }

  .col-travels {
       background-color: #34495e;
       padding: .5reM .5rem 1.5rem .5rem;
       border-radius: 10px;
       flex-direction: column;
       width: 60vw;
     }


   .next-travels {
       height: 55vh;
      top: 13rem;
   }

}



/* 
/* . Large
/* =================================================================== */

@media (max-width:  992px){

    html{
          overflow-y: scroll !important;
      }
  
    section{
          height: auto;
          margin-bottom: 10rem;
    }
    
    header{
      padding: 1rem;
    }


    header h1{
      font-size: 2.5em;
    }

    header nav{
    position: fixed !important;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #34495e;
    transition: 2s;
  }

  header ul{
     display: flex;
     flex-direction: column !important;
     margin: auto;
     padding-bottom: 4rem;
  }

  header li{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
  }

  header .show-menu-btn,
  header .hide-menu-btn{
    display: block !important;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    font-size: 4em;
  }

  header .hide-menu-btn{
     font-size: 5em;
  }


  header .show-menu-btn i,
  header .hide-menu-btn i{
    color: rgba(247, 208, 140, 1);
    transition: .2s;
  }

  header .show-menu-btn i:hover,
  header .hide-menu-btn i:hover{
    color: rgba(247, 208, 140, .7);
    transition: .2s;
  }

  header #chk:checked ~ nav{
     left: 0;
  }

  .slide{
    top: 5.7rem;
    height: 80vh;
  }

  .row-travels h2 {
     font-size: 2.3em;
  }

  main{
    position: relative;
    top: 5rem;
    padding: 0 3.7rem !important;
  }

  .feeds{
    position: relative;
    top: 5rem;
    left: 92vw;
    z-index: 0;
    font-size: 3.5em;
  }

  .rodape{
    flex-direction: column;
  }

  .col-rodape {
      width: 100%;
      border-right: none;
      border-bottom: solid 2px white;
      margin-bottom: 3rem;
      padding-bottom: 2rem;
  }
} 




/* 
/* . Middle
/* =================================================================== */


@media (min-width: 768px) and (max-width: 991px){
      
      .info bdi{
        display: none;
      }

     

      
}



/* 
/* . Small
/* =================================================================== */

@media (max-width: 768px){
      

      .slide {
        height: 85vh !important;
      }

      header ul{
        display: flex;
        flex-direction: column !important;
        margin: auto;
      }

      header li{
        font-size: 1.5em;
        margin: 0 1rem;
      }


      .col-travels {
         flex-direction: column;
      }

      .col-excursao{
          margin: auto;
      }

      .element{
        flex-direction: column;

      }


      i.fa-plus{
        margin: 1rem auto;
        font-size: 2em;
      }

        .father-covid{
        flex-direction: column;
        justify-content: center;
      }

      .child-covid-1,
      .child-covid-2{
         width: 80%;
         margin: auto;
       }

       .child-covid-1{
        margin-bottom: 2rem;
       }

       .feeds{
        left: 90vw;
      }


}

@media (max-width: 700px){

      #excursao, 
      #galeria, 
      #info, 
      #covid {
         padding-top: 8rem; 
      }

      .grandson-info-2,
      .grandson-info-4{
        display: none;
      }

      .grandson-info-1, 
      .grandson-info-3 {
         width: 100%;
         margin: 1rem 0;
      }


     .new-rodape{
       display: block !important;
       text-align: center;
       line-height: 3rem;
     } 
}



}


/* 
/* . Extra Small
/* =================================================================== */



@media (min-width: 480px) and (max-width: 576px){
      

      header h1 {
        font-size: 2em;
      }


      .more span{
        text-align: center;
      }

   
 }   



@media (max-width: 576px){
      .row-travels h2 {
       font-size: 2.5em !important;
       text-shadow: none; 
       color:  rgba(47, 54, 64,1.0);
      }


     .next-travels{
          position: relative !important;
          top: 10rem;
      }

      .slide {
         height: 40vh !important;
      }

      #excursao, 
      #galeria, 
      #info, 
      #covid {
        position: relative;
         top: 1rem; 
      }
      .col-travels {
         width: 80vw;
     }

     main{
       padding-top: 5rem !important;
     }

     .feeds{
      left: 87vw;
    }

}

@media (max-width: 480px){
      .row-travels h2 {
       font-size: 2.3em;
      }

       header{
      padding: .5rem 1rem;
    }

     header h1{
       font-size: 2em !important;
    }

    .slide{
      top: 4.7rem;
    }

     header .show-menu-btn,
     header .hide-menu-btn{
       top: 1rem !important;
       font-size: 3em !important;
}

.feeds{
  left: 85vw;
  font-size: 3em;
}


}



   
/* 
/* . Iphone 5, Iphone 6
/* =================================================================== */


@media (max-width: 400px){
  .row-travels h2 {
       font-size: 1.5em !important;
      }

      .feeds{
        left: 80vw;
      }
      
}

@media (min-width: 320px) and (max-width: 479px){
      
   
      header h1{
        font-size: 1.5em;
      }

      header .show-menu-btn, 
      header .hide-menu-btn{
        font-size: 2.5em;
        top: 1.5rem;
      } 

} 

@media (max-width: 319px){

    header h1{
        font-size: 1em !important;
      }

      header .show-menu-btn, 
      header .hide-menu-btn{
        font-size: 2em;
        top: 1.7rem;
      } 

}


 





   
/* 
/* . Height - Monitor de 19,5'
/* =================================================================== */



/* 
/* . 899 = Full Screen (f11); Normal = 789 px 
/* =================================================================== */



