* , html{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1{
	letter-spacing: .5rem;
	font-size: 2.3rem !important;
	color: rgba(244,164,96,1);
	font-weight: 500 !important;
	position: relative;
	top: .3rem;
}

nav{
	background-color: #34495e;
}

ul{
	display: flex;
    gap: 3rem	
}

a{
	letter-spacing: .2rem;
	color: rgba(244,164,96,1) !important;
}

a:hover{
	color: rgba(163, 110, 64, .7) !important;
}

i{
	font-size: 2rem;
	color: rgba(163, 110, 64, .7) !important;
	transition: .5s;
	cursor: pointer;
}

i:hover{
	color: rgba(244,164,96,1) !important;
	transition: .5s;
}




.slider{
	width: 300%;
	padding-bottom: 0;
	
}

.slider img{
	position: relative;
	animation: slider 20s infinite ease-out;
}

figure{
	width: 33.4%;
}

@keyframes slider{
	0%{
       left: 0%;
	}

	30%{
		left: 0%;
	}

	35%{
       left: -100%;
	}

	65%{
		left: -100%;
	}
    
    70%{
        left: -200%;
	}

	95%{
		left: -200%;
	}

	100%{
        left: 0%;
	}
}

